.card {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 25px;
  background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #73f1f1 0%, rgba(255, 255, 255, 0) 71.88%), #7d93ff;
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
  margin: 20px 0;
}

.card:hover {
  transform: scale(1.05);
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.location,
.date,
.weather_detail {
  word-break: break-all;
  font-weight: 800;
  font-size: 18px;
  line-height: 135%;
  color: rgba(255, 255, 255, 0.9);
}

.date {
  font-size: 13px;
}

.weather_detail {
  margin-top: 10px;
  font-size: 24px;
}

.weather_detail2 {
  font-size: 14px;
  line-height: 1;
}

.temp {
  font-weight: 700;
  font-size: 80px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.9);
  margin-right: 30px;
}

.info_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather_mini_icon {
  font-size: 30px;
}

.weather_detail2 span {
  align-items: center;
  display: flex;
}

.clothing-recommendation {
  margin-top: 10px;
  font-weight: bold;
  color: #d9534f;
}

.weather-commentary {
  margin-top: 10px;
  font-weight: bold;
  color: #5bc0de;
}

@media (min-width: 768px) {
  .info_container {
    flex-direction: row;
  }

  .temp {
    font-size: 64px;
    line-height: 100px;
  }

  .weather_detail {
    font-size: 24px;
  }

  .weather_detail2 {
    font-size: 14px;
  }
}
