.WeatherHourly {
  display: flex;
  overflow-x: scroll;
  padding: 10px;
  white-space: nowrap;
  width: 100%;
}

.WeatherHourly::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.WeatherHourly {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hourly-card {
  background: rgba(245, 245, 245, 0.59);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 100px;
  display: inline-block;
  margin-right: 10px;
}

.hourly-date {
  font-size: 12px;
  color: #777;
}

.hourly-time {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

@media (min-width: 768px) {
  .hourly-card {
    width: 120px;
  }
}
